@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body{
  background-image: linear-gradient(90deg, #020024 0%, #090979 35%, purple 100%);
  font-family: "Open Sans", system-ui;
  color: white;
  
  padding-left: 16px;
}

h1{
  color: white;
  font-family: "Open Sans", system-ui;
  font-size: 32px;
  
  
}

ul {
  
  padding-left: 32px;
  
    font-size: 16px;
}

li {
  margin-bottom: 8px;
  animation-name: intro-right;
  animation-duration: 1s;
  
}

p {
  font-size: 8px;
}

div{
  border: solid, white, 2px;
  border-radius: 24px;

  width: 256px;
  border-color: #292928;


  
  
  
 
  padding: 3px;
}

.done {
  text-decoration: line-through;
}

@keyframes intro-right {
  0%{
    padding-left: 32px;
    color: transparent;
  }
  
  100%{
    padding-left: 0px;
    color: white;
  }
}