/* Name:   */
/* Course: ITSE-1311.001  */
/* Date: Oct 23, 2025 */
/* Assignment: Part 0.30 -- IN Class Assignment 8  */

* {
    margin: 0;
    padding: 0;
}


 section.faq {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: ivory;
    font-size: 87.5%;
    width: 800px;
    margin: 0 auto;
    border: 3px solid black;
    padding: 15px 25px;
} 

h1 {
    font-size: 150%;
}

h2 {
    font-size: 150%;
    padding: .25em 0 .25em 25px;
    cursor: pointer;
    background: url("./images/plus.png") no-repeat left center;
}

 h2.minus {
    background: url("./images/minus.png") no-repeat left center;
} 

a {
    color: black;
    text-decoration: none;
}

a:focus,
a:hover {
    color: red;
} 

 div {
    display: none;
}

 div.open {
    display: block;
}

div#show_this_one {
    display: block;
}

 ul {
    padding-left: 45px;
}

li {
    padding-bottom: .25em;
}

p {
    padding-bottom: .25em;
    padding-left: 25px;
} 

/* JAC Note: Messed with this for Fall Web class on Oct 23, 2025 */

span.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 

.item {
    border: 1px dotted black;
    margin: 10px;
    width : 220px;
    padding: 10px;
    background-color: azure;
}

span.item img {
    border: 1px solid black;
    width: 200px;
    padding: 4px;
    border-radius: 20px;
    border: 1px solid black;
}

